/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-size: 1em;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Variables */

:root {
  --accent: #00b3e5;
  --light-gray: #999;
}

html {
  font-family:  "Titillium Web", sans-serif;
}
/* Color filters */

.accent-bg {
  background: var(--accent);
  color: white;
}

.accent-text {
  color: var(--accent) ;
}

.light-anchor-text {
  color: var(--light-gray);
  font-family: 'PT Serif', sans-serif;
  font-weight: 400;
}

/* Styling */

.header, .content-container, .social-media-links, .related-articles, .footer{
  border: 2px solid black;
}

.header {

}

.banner {
  display: flex;
  justify-content: space-between;
  margin: 30px 10px;
}

.banner > * {
  width:  300px;
  flex-shrink: 2;
}

.banner-title {
  width:  350px;
  flex-shrink: 1;
}
/*
.newsletter-container, .subscription-cta-container{
  border: 2px solid black;
}*/

.newsletter-container-title {
  font-weight:  700;
  text-transform:  uppercase;
}

.subscription-cta-container {
  text-transform:  uppercase;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.subscription-cta {
  padding: 8px 30px;
  border-radius: 3px;
}
